* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
}

.game-container {
  min-width: 400px;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 32px;
}

img {
  width: 10%;
}

.stats {
  color: #ffffff;
  font-size: 16px;
}

.cards-grid {
  width: 100%;
  display: flex;

  /* o flex-wrap, joga o "quadrado" para a linha de baixo, caso ele não caiba na linha */
  flex-wrap: wrap;
  gap: 5px;
}

.card {
  /* o método de calc serve para descontar um valor, no caso em questão cada cartão ocupa 25% e desconta 5px do gap */
  width: calc(25% - 5px);

  /* ao invés de usar uma altura fixa, exemplo height: 50px, usamos uma altura flexível (altura baseada na largura) */
  aspect-ratio: 1;

  background-color: #8234e0;

  border: 2px solid #5a0caf;
  border-radius: 12px;

  background-image: url(./assets/lines.svg);
  background-size: 100%;

  /* para centralizar o emoji */
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  /* para suavizar a animação de mudança de cor do card ao passar o mouse por cima */
  transition: background-color 0.3s;
}

.card:hover {
  background-color: #a069ee;
}

.revealed {
  background-color: #ffffff;
  border-color: #dadada;
}

.card-emoji {
  font-size: 40px;

  /* para esconder o emoji */
  display: none;
}

.revealed .card-emoji {
  /* para fazer o emoji aparecer, quando adicionar a classe .revealed */
  display: block;
}

.button {
  width: 100%;
  height: 48px;
  background-color: #8234e9;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  border-radius: 7px;
  border: 2px solid #5a0caf;
  cursor: pointer;
  font-family: "Roboto", sans-serif;

  /* para suavizar a animação de mudança de cor do botão ao passar o mouse por cima */
  transition: background-color 0.3s;

  margin-top: 32px;
}

.button:hover {
  background-color: #7029d6;
}
