* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
}

.game-container {
  max-width: 480px;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 32px;
}

img {
  width: 5%;
}

.stats {
  color: #fff;
  font-size: 16px;
}

.cards-grid {
  width: 100%;
  display: flex;

  /* o flex-wrap, joga o "quadrado" para a linha de baixo, caso ele não caiba na linha */
  flex-wrap: wrap;
  gap: 5px;
}

.card {
  /* o método de calc serve para descontar um valor, no caso em questão cada cartão ocupa 25% e desconta 5px do gap */
  width: calc(25% - 5px);

  /* ao invés de usar uma altura fixa, exemplo height: 50px, usamos uma altura flexível (altura baseada na largura) */
  aspect-ratio: 1;

  background-color: #8234e0;

  border: 2px solid #5a0caf;
  border-radius: 12px;

  background-image: url(./assets/lines.svg);
  background-size: 100%;

  /* para centralizar o emoji */
  display: flex;
  justify-content: center;
  align-items: center;
}

.revealed {
  background-color: #fff;
  border-color: #dadada;
}

.card-emoji {
  font-size: 40px;

  /* para esconder o emoji */
  display: none;
}

.revealed .card-emoji {
  /* para fazer o emoji aparecer, adicionando a classe .revealed */
  display: block;
}
